# Database
DATABASE_URL="postgresql://postgres:senha@localhost:5432/estudae"

# Application
NODE_ENV=development
PORT=3000

# JWT (IMPORTANTE!)
AUTH_KEY=3d66bc3e7753fefdcd76cd1f004faf2d26abc44cf8df99e7202728d5ab31d06f
JWT_EXPIRES_IN=1h